.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 10%;
    left: 0;
    background: #00000000;
}
.owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    position: absolute;
    top: 10%;
    right: 0;
    background: #00000000;

}
.owl-carousel .owl-nav button.owl-next span{
    font-size: 100px;
    color: #ffffffb8;
}
.owl-carousel .owl-nav button.owl-prev span{
    font-size: 100px;
    color:#ffffffb8;
}
.container .item .cases-caption2 {
    padding: 24px 20px 10px 20px;
    background: #fff;
}
.container .item .cases-caption2 h5{
    font-size: 21px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.container .row .cases-caption1 {
    padding: 24px 20px 10px 20px;
    background: #fff;
}
.container .row .cases-caption1 h5{
    font-size: 21px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
}
.our-cases-area .single-cases .cases-caption1 h5 a {
    font-size: 21px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block;
}
h5 a:hover {
    color: #09cc7f;
}

